<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
</head>

<body>

	<div class="container" layout:fragment="content">
	<br>
      <div class="row">
      	<div class="col-6">
      		<div class="row">
      			<div class="col-6">
      				<div class="card">
      					<h2>5</h2>
      					<h6>Pending Open Shifts</h6>
      				</div>
      			</div>
      			<div class="col-6">
      				<div class="card">
      					<h2>3</h2>
      					<h6>On Leave</h6>
      				</div>
      			</div>
      		</div>
      		<div class="row">
      			<div class="col-6">
      				<div class="card">
      					<h2>14</h2>
      					<h6>Employees CheckedIn</h6>
      				</div>
      			</div>
      			<div class="col-6">
      				<div class="card">
      					<h2>2</h2>
      					<h6>Shift Swap Requests</h6>
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="col-6">
      		<table class="table">
      			<thead>
      				<tr>
      					<th colspan=2>Tasks To Do</th>
      				</tr>
      				<tr>
      					<td>
      						<input type="text" id="add-task" />
      					</td>
      					<td>
      						<input type="button" value="Add" />
      					</td>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td>This is task A</td>
      					<td><input type="button" value="Done" /></td>
      				</tr>
      				<tr>
      					<td>This is task A</td>
      					<td><input type="button" value="Done" /></td>
      				</tr>
      				<tr>
      					<td>This is task A</td>
      					<td><input type="button" value="Done" /></td>
      				</tr>
      				<tr>
      					<td>This is task A</td>
      					<td><input type="button" value="Done" /></td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
      </div>
      <br/>
      <br/>
      
      <div class="row">
      	<div class="col">
      		<h4>Open Shift Claim Requests</h4>
      		<table class="table">
      			<thead>
      				<tr>
      					<th>Date</th>
      					<th>Shift</th>
      					<th>Position</th>
      					<th>Claimed By</th>
      					<th>Action</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td>31st Oct, Monday</td>
      					<td>09:00am - 01:00pm</td>
      					<td>Supervisor</td>
      					<td>Sai Yadav</td>
      					<td><input type="button" value="Approve" /></td>
      				</tr>
      				<tr>
      					<td>31st Oct, Monday</td>
      					<td>01:00pm - 05:00pm</td>
      					<td>Front Desk</td>
      					<td>Deepak Mishra</td>
      					<td><input type="button" value="Approve" /></td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
      </div>
      
      <br/>
      
      <div class="row">
      	<div class="col">
      		<h4>Shift Swap Requests</h4>
      		<table class="table">
      			<thead>
      				<tr>
      					<th>Date</th>
      					<th>Shift</th>
      					<th>Position</th>
      					<th>Current Assignee</th>
      					<th>New Assignee</th>
      					<th>Action</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr>
      					<td>31st Oct, Monday</td>
      					<td>09:00am - 01:00pm</td>
      					<td>Supervisor</td>
      					<td>Sai Yadav</td>
      					<td>Deepak Mishra</td>
      					<td><input type="button" value="Approve" /></td>
      				</tr>
      				<tr>
      					<td>31st Oct, Monday</td>
      					<td>01:00pm - 05:00pm</td>
      					<td>Front Desk</td>
      					<td>Deepak Mishra</td>
      					<td>Kailash Desiti</td>
      					<td><input type="button" value="Approve" /></td>
      				</tr>
      			</tbody>
      		</table>
      	</div>
      </div>
    </div>
    
    
        
  	
</body>
</html>