<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
</head>

<body>

	<div class="container" layout:fragment="content">
            <div class="clearfix mt-3">
                <div class="float-start">
                    <span class="h4 align-top">Employees</span>
                </div>

                <div class="float-end">
                    
                    <div class="float-end ms-3">
                        <input type="button" class="btn btn-primary align-text-middle" id="btn-add-emp" value="Add Employee"/>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <table class="table">
                    <thead>
                      <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Contact No
                        </th>
                        <th>
                            Weekly Working Hrs
                        </th>
                        <th>
                            Departments
                        </th>
                      </tr>
                    </thead>
    
                    <tbody id="employees-tbody">
                        <tr>
                            <td>Shankar Yadav</td>
                            <td>shankaryadav@gmail.com</td>
                            <td>8655175520</td>
                            <td>40</td>
                            <td>Full Time</td>
                            <td>Front Desk</td>
                        </tr>

                        <tr>
                            <td>Shankar Yadav</td>
                            <td>shankaryadav@gmail.com</td>
                            <td>8655175520</td>
                            <td>40</td>
                            <td>Full Time</td>
                            <td>Front Desk</td>
                        </tr>

                        <tr>
                            <td>Shankar Yadav</td>
                            <td>shankaryadav@gmail.com</td>
                            <td>8655175520</td>
                            <td>40</td>
                            <td>Full Time</td>
                            <td>Front Desk</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
    </div>
        
    <div layout:fragment="modals">
    	<div class="modal" id="save-employee-modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Employee</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
  
                  <form>
                    
                    <div class="mb-3">
                      <label for="checkedInHrs" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="txt-first-name" placeholder="Enter First Name">
                    </div>
  
                    <div class="mb-3">
                      <label for="checkedInHrs" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="txt-last-name" placeholder="Enter Last Name">
                    </div>
                    
                    <div class="mb-3">
                      <label for="checkedInHrs" class="form-label">Username</label>
                      <input type="text" class="form-control" id="txt-username" placeholder="Enter Username">
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Id</label>
                        <input type="text" class="form-control" id="txt-email" placeholder="Email Id">
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="txt-phone" placeholder="Phone Number">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Role</label>
                        <select id="select-role" class="form-select" aria-label="Default select example">
                          <option selected value="0">Select Role</option>
                          <option value="6">Front Desk</option>
                          <option value="7">Supervisor</option>
                          <option value="8">Manager</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="checkedInHrs" class="form-label">Weekly Working Hrs</label>
                        <input type="numeric" class="form-control" id="txt-working-hrs" placeholder="Working Hours">
                    </div>

                    
                  </form>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button id="saveEmployee" type="button" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
        </div>
  	</div>
  	
</body>
</html>