<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
 
    <body>
        <!-- Page content-->
        <div class="container" layout:fragment="content">
            <div class="clearfix mt-3">
                <div class="float-start">
                    <button class="btn btn-success align-text-middle"><i class="fa-solid fa-upload"></i> Publish</button>
                    <button id="btn-auto-schedule" class="btn btn-primary align-text-middle"><i class="fa-solid fa-calendar-check"></i> Auto Schedule</button>
                </div>
                <div class="float-end">
                    
                    <div class="float-end ms-3">
                        <button class="btn btn-primary align-text-middle"><i class="fa-solid fa-chevron-left"></i></button>
                        <input type="button" class="btn btn-primary align-text-middle" value="Today"/>
                        <button class="btn btn-primary align-text-middle"><i class="fa-solid fa-chevron-right"></i></button>
                    </div>

                    <div class="float-end align-text-top">
                        <span class="h2 align-top">October - November</span>
                        <span class="h2 align-top"> 2022</span>
                    </div>
                </div>
            </div>

            <div class="mt-3">
            	
            	<table class="table">
            		<thead>
                      <tr>
                        <th>
                          Resources
                        </th>
                        <th>
                          Sun (30/10)
                        </th>
                        <th>
                          Mon (31/10)
                        </th>
                        <th>
                          Tue (1/11)
                        </th>
                        <th>
                          Wed (2/11)
                        </th>
                        <th>
                          Thur (3/11)
                        </th>
                        <th>
                          Fri (4/11)
                        </th>
                        <th>
                          Sat (5/11)
                        </th>
                      </tr>
                    </thead>
                    
                    <tbody id="calendar-tbody">
                    </tbody>
            	</table>
                
            </div>
            
            <div class="modal" id="add-open-shift-modal" tabindex="-1">
            	<div class="modal-dialog">
            		<div class="modal-content">
            			<div class="modal-header">
			                <h5 class="modal-title">Add Open Shift</h5>
			                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			            </div>
			            <div class="modal-body">

                <form>
                  
                  
                  <div>
                  	  <div class="mb-3">
                    	<label for="exampleInputPassword1" class="form-label">Role</label>
	                    <select class="form-select" id="open-shift-select-positions" aria-label="Default select example">
	                      <option selected value="0">Select Role</option>
	                    </select>
	                  </div>
	
	                  <div class="mb-3">
	                    <label for="exampleInputPassword1" class="form-label">Shift Time</label>
	                    <select class="form-select" id="open-shift-select-shift" aria-label="Default select example">
	                      <option selected value="0">Select Time</option>
	                      <option value="1">09:00am - 01:00pm</optsion>
	                      <option value="2">01:00pm - 05:00pm</option>
	                      <option value="3">09:00am - 01:00pm</option>
	                    </select>
	                  </div>
	
	                  <div class="mb-3">
	                    <label for="exampleInputPassword1" class="form-label">Select Days</label>
	                    <br>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="1">
	                      <label class="form-check-label" for="inlineCheckbox1">Sun</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="2">
	                      <label class="form-check-label" for="inlineCheckbox2">Mon</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="3">
	                      <label class="form-check-label" for="inlineCheckbox3">Tue</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="4">
	                      <label class="form-check-label" for="inlineCheckbox3">Wed</label>
	                    </div>
	                    <br>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="5">
	                      <label class="form-check-label" for="inlineCheckbox3">Thurs</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="6">
	                      <label class="form-check-label" for="inlineCheckbox3">Fri</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="open-shift-weekDay" value="7">
	                      <label class="form-check-label" for="inlineCheckbox3">Sat</label>
	                    </div>
	                  </div>
                  </div>

				 
                  
                </form>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save-open-shift">Submit</button>
              </div>
              
            		</div>
            	</div>
            </div>
        
        	<div class="modal" id="add-shift-modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add Shift/Availability (<span id="add-shift-empname-label">Kailash Desiti </span>)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <form>
                  
                  <div class="mb-3">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" onclick="toggleForm(1)" type="radio" name="form-type" id="chk-shift" checked  value="add-shift">
                      <label class="form-check-label" for="chk-shift" >Assign Shift</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" onclick="toggleForm(2)" type="radio" name="form-type" id="chk-availablity" value="add-availability">
                      <label class="form-check-label" for="chk-availablity">Add Availability</label>
                    </div>
                  </div>
                  
                  <input type="hidden" id="hdn-empId" />
                  
                  <div id="add-shift-form">
                  	  <div class="mb-3">
                    	<label for="exampleInputPassword1" class="form-label">Role</label>
	                    <select class="form-select" id="select-positions" aria-label="Default select example">
	                      <option selected value="0">Select Role</option>
	                    </select>
	                  </div>
	
	                  <div class="mb-3">
	                    <label for="exampleInputPassword1" class="form-label">Shift Time</label>
	                    <select class="form-select" id="select-shift" aria-label="Default select example">
	                      <option selected value="0">Select Time</option>
	                      <option value="1">09:00am - 01:00pm</optsion>
	                      <option value="2">01:00pm - 05:00pm</option>
	                      <option value="3">09:00am - 01:00pm</option>
	                    </select>
	                  </div>
	
	                  <div class="mb-3">
	                    <label for="exampleInputPassword1" class="form-label">Select Days</label>
	                    <br>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="1">
	                      <label class="form-check-label" for="inlineCheckbox1">Sun</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="2">
	                      <label class="form-check-label" for="inlineCheckbox2">Mon</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="3">
	                      <label class="form-check-label" for="inlineCheckbox3">Tue</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="4">
	                      <label class="form-check-label" for="inlineCheckbox3">Wed</label>
	                    </div>
	                    <br>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="5">
	                      <label class="form-check-label" for="inlineCheckbox3">Thurs</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="6">
	                      <label class="form-check-label" for="inlineCheckbox3">Fri</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="weekDay" value="7">
	                      <label class="form-check-label" for="inlineCheckbox3">Sat</label>
	                    </div>
	                  </div>
                  </div>

				  <div id="add-availability-form">
				  	 <div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">Start Time</label>
					  <input class="form-control timepicker" id="txt-start-time">
					 </div>
					 
					 <div class="mb-3">
					  <label for="exampleFormControlInput1" class="form-label">End Time</label>
					  <input class="form-control timepicker" id="txt-end-time">
					 </div>
					 
					 <div class="mb-3">
	                    <label for="exampleInputPassword1" class="form-label">Select Days</label>
	                    <br>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="1">
	                      <label class="form-check-label" for="inlineCheckbox1">Sun</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="2">
	                      <label class="form-check-label" for="inlineCheckbox2">Mon</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="3">
	                      <label class="form-check-label" for="inlineCheckbox3">Tue</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="4">
	                      <label class="form-check-label" for="inlineCheckbox3">Wed</label>
	                    </div>
	                    <br>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="5">
	                      <label class="form-check-label" for="inlineCheckbox3">Thurs</label>
	                    </div>/""
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="6">
	                      <label class="form-check-label" for="inlineCheckbox3">Fri</label>
	                    </div>
	                    <div class="form-check form-check-inline">
	                      <input class="form-check-input" type="checkbox" name="avail-weekDay" value="7">
	                      <label class="form-check-label" for="inlineCheckbox3">Sat</label>
	                    </div>
	                  </div>
				  </div>
                  
                </form>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save">Submit</button>
              </div>
            </div>
          </div>
        </div>
        </div>

        
        <!-- Bootstrap core JS-->
        
        <!-- Core theme JS-->
        <script src="app/js/scripts.js"></script>
    </body>
</html>
